@model ICollection<dnevnik.Models.Grades>


<h2>Оценки учеников</h2>
<label for="listGrades">Класс</label><br />
<select id="listGrades">
    @foreach (dnevnik.Models.Grades grade in Model)
    {
        <option value=@grade.GradeId.ToString()>@grade.name</option>
    }
</select><br />
<label for="listStudens">Ученик(ца)</label><br />
<select id="listStudens"></select><br /><br />
<table id="tableRatings" class="table">
    <tr>
        <th>
            Предмет
        </th>
        <th>
            Преподаватель
        </th>
        <th>
            Дата урока
        </th>
        <th>
            Время урока
        <th>
            оценка
        </th>
    </tr>
</table>

@section Scripts {
    @Scripts.Render("~/Scripts/scipts/getRatings.js")
}
@*<script src="~/Scripts/scipts/getRatings.js"></script>*@
