@model IEnumerable<dnevnik.Models.Teachers>

<h2>Наш преподавательский состав</h2>   
<ul class="list-group">

    @foreach (dnevnik.Models.Teachers teacher in Model)
    {
    <li class="list-group-item">
        @Html.ActionLink(@teacher.lastname +" "+@teacher.firstname+" "+ @teacher.patronymic, "Teachers", "Shool", new { teacherId = teacher.TeacherId }, new { title = "Посмотреть информацию об учителе",@class = "link" })
    </li>
    }

</ul>