@using dnevnik.Models
@model Grades
<h2>Добавление нового класса</h2>
@using (Html.BeginForm("addGrade", "Teacher", FormMethod.Post, new {@class=".form - control" }))
{

        @*@Html.HiddenFor(gr => gr.GradeId)*@
        <p>
            @Html.LabelFor(gr => gr.name, "Название класса")
            <br />
            @Html.EditorFor(gr => gr.name)
        </p>
        <p>
            @Html.LabelFor(gr => gr.Teachers.TeacherId, "Классный руководитель")
            <br />
            @Html.DropDownList("TeacherId", ViewBag.ListTeachers as SelectList)
        </p>

        <p><input type="submit" value="Добавить класс" /></p>
    
}