@model IEnumerable<dnevnik.Models.Students>

<h2>Удаление ученика</h2>
<table class="table">
    @foreach(dnevnik.Models.Students st in Model)
    {
    <tr>
        <td>
            @st.lastname @st.firstname @st.patronymic
        </td>
        <td>
            @Html.ActionLink("Удалить данного ученика", "deleteStudent", new {studentId=st.StudentId}, new { title = "Удалить информацию о данном ученике", @class = "link" })
        </td>
    </tr>
    }
</table>